In [ ]:
#1. Write code to reverse a string.
String = "Hello"
print(String[::-1])

olleH

In [ ]:
#2. Write code to count the number of vowels in a string.
String = "Hello World"
cnt = 0
vowels = "aeiouAEIOU"
for s in String:
  if s in vowels:
    cnt = cnt+1
print(cnt)

3

In [ ]:
#3. Write code to check if a given string is a palindrome or not.
String = "MADAM"
print(String == String[::-1])

True

In [ ]:
#4. Write code to check if two given strings are anagrams of each other.
String1 = "listen"
String2 = "silent"
print(sorted(String1) == sorted(String2))

True

In [ ]:
#5. Write code to find all occurrences of a given substring within another string.
String1 = "abaabcabc"
String2 = "abc"

print([i for i in range(len(String1)) if String1.startswith(String2, i)])

[3, 6]

In [ ]:
#6. Write code to perform basic string compression using the counts of repeated characters.
def compress_string(s):
    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(s[i - 1] + str(count))
            count = 1

    compressed.append(s[-1] + str(count))  # Add last group
    return ''.join(compressed)

String1 = "aaabbc"
print(compress_string(String1))

a3b2c1

In [ ]:
#7. Write code to determine if a string has all unique characters.
def has_unique_characters(s):
    return len(set(s)) == len(s)


String1 = "abcdef"
print(has_unique_characters(String1))

True

In [ ]:
#8. Write code to convert a given string to uppercase or lowercase.
def convert_case(s, to_upper):
    return s.upper() if to_upper else s.lower()


String1 = "Hello World"
print(convert_case(String1, to_upper=True))
print(convert_case(String1, to_upper=False))

HELLO WORLD
hello world

In [ ]:
#9. Write code to count the number of words in a string.
def count_words(s):
    return len(s.split())


String1 = "Hello World"
print(count_words(String1))

2

In [ ]:
#10. Write code to concatenate two strings without using the `+` operator.
def concatenate_strings(s1, s2):
    return ''.join([s1, s2])

string1 = "Hello"
string2 = "World"
print(concatenate_strings(string1, string2))

HelloWorld

In [ ]:
#11. Write code to remove all occurrences of a specific element from a list.
def remove_occurrences(lst, element):
    return [item for item in lst if item != element]

my_list = [1, 2, 3, 2, 4, 2]
result = remove_occurrences(my_list, 2)
print(result)

[1, 3, 4]

In [ ]:
#12. Implement code to find the second largest number in a given list of integers.
def second_largest(lst):
    unique_numbers = list(set(lst))
    unique_numbers.sort()
    return unique_numbers[-2]

my_list = [10, 20, 4, 45, 99]
result = second_largest(my_list)
print(result)

45

In [ ]:
#13. Create code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.
def count_occurrences(lst):
    return {item: lst.count(item) for item in set(lst)}

my_list = [1, 2, 2, 3, 3, 3]
result = count_occurrences(my_list)
print(result)

{1: 1, 2: 2, 3: 3}

In [ ]:
#14. Write code to reverse a list in-place without using any built-in reverse functions.
def reverse_list_in_place(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]
        left += 1
        right -= 1

my_list = [1, 2, 3, 4, 5]
reverse_list_in_place(my_list)
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
#15. Implement code to find and remove duplicates from a list while preserving the original order of elements.
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

my_list = [1, 2, 2, 3, 4, 4, 5]
result = remove_duplicates(my_list)
print(result)

[1, 2, 3, 4, 5]

In [ ]:
#16. Create code to check if a given list is sorted (either in ascending or descending order) or not.
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

my_list = [1, 2, 3, 4]
result = is_sorted(my_list)
print(result)

True

In [20]:
#17. Write code to merge two sorted lists into a single sorted list.
def merge_sorted_lists(list1, list2):
    return sorted(list1 + list2)

list1 = [1, 3, 5]
list2 = [2, 4, 6]
result = merge_sorted_lists(list1, list2)
print(result)

[1, 2, 3, 4, 5, 6]

In [21]:
#18. Implement code to find the intersection of two given lists.
def intersection(list1, list2):
    return list(set(list1) & set(list2))

list1 = [1, 2, 3]
list2 = [2, 3, 4]
result = intersection(list1, list2)
print(result)

[2, 3]

In [22]:
#19. Create code to find the union of two lists without duplicates.
def union(list1, list2):
    return list(set(list1) | set(list2))

list1 = [1, 2, 3]
list2 = [3, 4, 5]
result = union(list1, list2)
print(result)

[1, 2, 3, 4, 5]

In [23]:
#20. Write code to shuffle a given list randomly without using any built-in shuffle function.
import random

def shuffle_list(lst):
    for i in range(len(lst)):
        rand_index = random.randint(0, len(lst) - 1)
        lst[i], lst[rand_index] = lst[rand_index], lst[i]
    return lst

my_list = [1, 2, 3, 4, 5]
result = shuffle_list(my_list)
print(result)

[3, 1, 2, 4, 5]

In [24]:
#21. Write code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.
def common_elements(t1, t2):
    return tuple(set(t1).intersection(t2))

t1 = (1, 2, 3, 4)
t2 = (3, 4, 5, 6)
print(common_elements(t1, t2))

(3, 4)

In [26]:
#22. Create code that prompts the user to enter two sets of integers separated by commas, then print the intersection of these two sets.
s1 = set(map(int, input("Enter first set of integers (comma-separated): ").split(',')))
s2 = set(map(int, input("Enter second set of integers (comma-separated): ").split(',')))
print(s1.intersection(s2))

Enter first set of integers (comma-separated): 1,2,3
Enter second set of integers (comma-separated): 4,5,6
set()

In [27]:
#23. Write code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.
def concatenate_tuples(t1, t2):
    return t1 + t2

t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(concatenate_tuples(t1, t2))

(1, 2, 3, 4, 5, 6)

In [29]:
#24. Develop code that prompts the user to input two sets of strings, then print the elements that are present in the first set but not in the second set.
s1 = set(input("Enter first set of strings (comma-separated): ").split(','))
s2 = set(input("Enter second set of strings (comma-separated): ").split(','))
print(s1 - s2)

Enter first set of strings (comma-separated): 1,2,3,4,5
Enter second set of strings (comma-separated): 4,5,6,7,8
{'3', '1', '2'}

In [30]:
#25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.
def slice_tuple(t, start, end):
    return t[start:end]

t = (1, 2, 3, 4, 5, 6)
print(slice_tuple(t, 1, 4))

(2, 3, 4)

In [31]:
#26. Write code that prompts the user to input two sets of characters, then print the union of these two sets.
s1 = set(input("Enter first set of characters: "))
s2 = set(input("Enter second set of characters: "))
print(s1.union(s2))

Enter first set of characters: Hello
Enter second set of characters: World
{'o', 'r', 'e', 'l', 'd', 'W', 'H'}

In [32]:
#27. Develop code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.
def min_max(t):
    return min(t), max(t)

t = (3, 1, 4, 5, 9, 2)
print(min_max(t))

(1, 9)

In [33]:
#28. Create a code that defines two sets of integers, then print the union, intersection, and difference of these two sets.
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}

In [34]:
#29. Write code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.
def count_element(t, element):
    return t.count(element)

t = (1, 2, 3, 2, 2, 4)
element = 2
print(count_element(t, element))

3

In [36]:
#30. Develop code that prompts the user to input two sets of strings, then print the symmetric difference of these two sets.
s1 = set(input("Enter first set of strings (comma-separated): ").split(','))
s2 = set(input("Enter second set of strings (comma-separated): ").split(','))
print(s1.symmetric_difference(s2))

Enter first set of strings (comma-separated): 1,2,3,4,5
Enter second set of strings (comma-separated): 4,5,6,7,8,9
{'8', '1', '3', '7', '2', '9', '6'}

In [37]:
#31. Write code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.
def word_frequencies(words):
    return {word: words.count(word) for word in set(words)}

words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']
print(word_frequencies(words))

{'orange': 1, 'banana': 2, 'apple': 3}

In [38]:
#32. Write code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.
def merge_dicts(d1, d2):
    merged = {key: d1.get(key, 0) + d2.get(key, 0) for key in set(d1) | set(d2)}
    return merged

d1 = {'a': 1, 'b': 2}
d2 = {'b': 3, 'c': 4}
print(merge_dicts(d1, d2))

{'a': 1, 'c': 4, 'b': 5}

In [39]:
#33. Write code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.
def get_nested_value(d, keys):
    for key in keys:
        if isinstance(d, dict):
            d = d.get(key)
        else:
            return None
    return d

nested_dict = {'a': {'b': {'c': 42}}}
keys = ['a', 'b', 'c']
print(get_nested_value(nested_dict, keys))

42

In [40]:
#34. Write code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

def sort_dict_by_value(d, ascending=True):
    return dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))

d = {'a': 3, 'b': 1, 'c': 2}
print(sort_dict_by_value(d, ascending=True))

{'b': 1, 'c': 2, 'a': 3}

In [41]:
#35. Write code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.
def invert_dict(d):
    inverted = {}
    for key, value in d.items():
        inverted.setdefault(value, []).append(key)
    return inverted

d = {'a': 1, 'b': 2, 'c': 1}
print(invert_dict(d))

{1: ['a', 'c'], 2: ['b']}